.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.header-img img {
    width: 250px;
    padding-left: 40px;
    padding-top: 10px;
}

.header-nav-list {
    display: flex;
    list-style: none;
    margin: 20px;
}
.header-nav-item a {
    padding-left: 20px;
    text-decoration: none;
    color:black;
}
.main-img{
    position: relative;
    text-align: right;

}
.main-img img {
    width: 60%;
    padding-bottom: 50px;


}
.main-about {
    text-align: left;
}
.main-text {
    position: absolute;
    top:20%;
    font-family: 'Ephesis', cursive;
    font-size: 100px;
    margin-left: 20%;
    color: #ff3366;

}
.main-item {
    color: #009933;;
}
.main-text-tag {
    position: absolute;
    top: 55%;
    margin-left: 20%;
    color: #ff3366;
    font-weight: bolder;
    font-size: 30px;
}
.main-text-pickup {
    position: absolute;
    top:60%;
    margin-left: 20%;
    color: #bbbbbb;
    font-size: 20px;
}
.list {
    text-align: left;
    margin-left: 30%;
}
.list-sab {
    font-family: 'Ephesis', cursive;
    color: #ff3366;
    font-size: 30px;
    padding-bottom: 10px;
}
.list-title {
    padding-bottom: 20px;
    font-size: 20px;
    color: #999999;
    font-weight: bold;
}
.list-item {
    width: 100%;
    margin-bottom: 70px;
}
.list-item-group {
    list-style: none;
    color: #999999;
}
.list-item-group-menu {
    padding: 10px;
    border-top: solid 1px #bbbbbb;
    border-bottom: solid 1px #bbbbbb;
    display: inline-block;
}
.list-link {
    display: inline;
    background-color: #ff3366;
    border-radius: 40px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff
}
.content {
    width: 100%;
}
.content-sab {
    text-align: center;
    font-family: 'Ephesis',cursive;
    font-size: 30px;
    color: #ff3366;
}
.content-title {
    text-align: center;
    color: #999999;
    font-size: 20px;
    padding-bottom: 30px;
}
.content-about {
   display: flex;
}
.content-about-post {
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 20px;
    color: #999999;
}
.content-about-info {
    display: inline-block;
    padding-top: 50px;
}
.content-img {
    width: 100%;
}
.content-img img {
    width: 400px;
    padding-right:40px ;
    padding-bottom: 100px;
}
.item {
    margin-left: 15%;
}
.item-sab {
    font-family: 'Ephesis', cursive;
        color: #ff3366;
        font-size: 30px;
        padding-bottom: 10px;
}
.item-title {
    padding-bottom: 20px;
        font-size: 20px;
        color: #999999;
        font-weight: bold;
}
.item-img {
    display: flex;
   
}
.item-img-text {
    background-color: #ff3366;
    width: 40%;
}
.img-text img{
    padding: 50px 90px;
    width: 60%;
    text-align: center;
}
.item-img-text-title {
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    font-size: 20px;
}
.item-img-text-about {
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
}
.item-img-group {
    background-color: #9933cc;
    display: flex;
    width: 90%;
    height: 50%;
    color: #fff;
}
.img-group img {
    width: 80%;
    padding-top:20px;
    text-align: center;

}
.item-img-group-title{
    font-size: 20px;
    padding-bottom: 10px;
}
.flex-item {
    padding-top: 20%;
    padding-right: 20px;
}
.item-img-card {
    display: flex;
    background-color: #6666ff;
    width: 90%;
    height: 50%;
    color: #fff;
}
.img-card img {
   width: 80%;
   padding-top: 10px;
}
.flex-card {
    padding-top: 20%;
    padding-right: 10px;
}
.item-img-card-title {
    padding-bottom: 10px;
    font-size: 20px;
}
.box {
    margin-left: 10%;
}
.box-sab {
    font-family: 'Ephesis', cursive;
    color: #ff3366;
    font-size: 30px;
    padding-bottom: 10px;
}
.box-title {
    padding-bottom: 20px;
    font-size: 20px;
    color: #999999;
    font-weight: bold;
}
.box__flex {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.practice__card {
    position: relative;
    width: 30%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.box__img img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.box-content {
    padding: 15px 25px;
}
.box-cat {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff3366;
    border-top-left-radius: 5px;
    color: #fff;
    padding: 10px;
}
.box-ttl {
    color: #999999;
    padding: 20px;
}
.tag {
    display: flex;
    justify-content: space-between;
    color: #999999
}
.box-tag {
    padding-left: 10px;
    padding-bottom: 20px;
}
.box-date {
    margin-right: 10px;
}
.box-center{
    text-align: center;
}
.box-botton{
    margin-top: 50px;
    border-radius: 50px;
    border: solid #ff3366;
    display: inline-block;
    padding: 25px 30px;
    margin-bottom: 50px;
}
.box-botton a{
    text-decoration: none;
    color: #ff3366;
}
.block {
    margin-left: 30%;
    margin-bottom: 70px;
}
.block-sab {
    font-family: 'Ephesis', cursive;
    color: #ff3366;
    font-size: 30px;
    padding-bottom: 10px;
}
.block-title {
    padding-bottom: 10px;
    font-size: 20px;
    color: #999999;
    font-weight: bold;
}
.block-list {
    border: solid 1px #bbbbbb;
    vertical-align: center;
    width: 40%;
}
.block-list-item-detail {
    border: solid 1px #bbbbbb;
    padding-bottom: 10px;
    background-color: #cccccc;
}
.block-list-item-description {
    border: solid 1px #bbbbbb;
    width: 85%;
}
.card {
    display: flex;
    position: relative;
}
.card-img img {
    width: 720px;
}
.card-text {
    position: absolute;
    top: 150px;
    left: 200px;
    color: #fff;
    font-size: 40px;
}

.text {
    position: relative;
}
.text-img img {
    width: 720px;
}
.card-service-category {
    position: absolute;
    top: 150px;
    left: 200px;
    font-size: 40px;
    color: #fff;
}
.comment-title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #999999;
}
.comment-link {
    text-align: center;
}
.text-link {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: solid 3px #ff3366;
    margin-left: 120px;
    outline: none;
    caret-color: transparent;
}
.text-botton {
    text-align: center;
}
.comment-botton {
    text-align: center;
    margin: 30px;
    border-radius: 50px ;
    background: linear-gradient(90deg,#ff3366,#cc3366);
    border: solid 1px #ff3366;
    display: inline-block;
    padding: 20px 50px;
    box-shadow: 0px 5px 1px #000;
}
.comment-botton a {
    text-decoration: none;
}
.fooder {
    text-align: center;
    color: #999999;
    background: #bbbbbb;
}