.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.header-img img {
    width: 30%;
    padding-top: 10px;
    margin-right: 65%;
}

.header-nav-list {
    display: flex;
    list-style: none;
    padding: 20px;
}
.header-nav-item a {
    padding-left: 20px;
    text-decoration: none;
    color:black;
}
.main-img{
    position: relative;
    text-align: right;

}
.main-img img {
    width: 52%;
    padding-bottom: 50px;


}
.main-about {
    text-align: left;
}
.main-text {
    position: absolute;
    top:20%;
    font-family: 'Ephesis', cursive;
    font-size: 400%;
    margin-left: 30%;
    color: #cc00cc;

}
.main-item {
    color: #009933;;
}
.main-text-tag {
    position: absolute;
    top: 40%;
    margin-left: 30%;
    color: #cc00cc;
    font-weight: bolder;
    font-size: 30px;
}
.main-text-pickup {
    position: absolute;
    top:45%;
    margin-left: 30%;
    color: #bbbbbb;
    font-size: 20px;
}
.list {
    text-align: left;
    padding-left: 30%;
}
.list-sab {
    font-family: 'Ephesis', cursive;
    color: #ff3366;
    font-size: 30px;
    padding-bottom: 10px;
}
.list-title {
    padding-bottom: 20px;
    font-size: 20px;
    color: #999999;
    font-weight: bold;
}
.list-item {
    width: 100%;
    margin-bottom: 70px;
}
.list-item-group {
    list-style: none;
    color: #999999;
}
.list-item-group-menu {
    padding: 10px;
    border-top: solid 1px #bbbbbb;
    border-bottom: solid 1px #bbbbbb;
    display: inline-block;
}
.list-link {
    display: inline;
    background-color: #ff3366;
    border-radius: 40px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff
}
.content {
    width: 100%;
}
.content-sab {
    text-align: center;
    font-family: 'Ephesis',cursive;
    font-size: 30px;
    color: #ff3366;
}
.content-title {
    text-align: center;
    color: #999999;
    font-size: 20px;
    padding-bottom: 30px;
}
.content-about {
   display: flex;
}
.content-about-post {
    padding:  5% 0 5% 10%;
    font-size: 20px;
    color: #999999;
}
.content-about-info {
    display: inline-block;
    padding-top: 5%;
}
.content-img {
    width: 100%;
}
.content-img img {
    width: 50%;
    padding-left:150px ;
    padding-bottom: 100px;
}
.item {
    padding: 10%;
}
.item-sab {
    font-family: 'Ephesis', cursive;
        color: #ff3366;
        font-size: 30px;
        padding-bottom: 10px;
}
.item-title {
    padding-bottom: 20px;
        font-size: 20px;
        color: #999999;
        font-weight: bold;
}
.item-img {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns:  2fr 2fr;
   
}
.item-img-text {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: #ff3366;
}
.img-text img{
    margin: 10% 35%;
    width: 30%;
}
.item-img-text-title {
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.item-img-text-about {
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 20px 50px;
}
.item-img-group {
    background-color: #9933cc;
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    color: #fff;
}
.img-group img {
    width: 60%;
    padding-top:30px;
    padding-left: 20px;
    text-align: center;

}
.item-img-group-title{
    font-size: 20px;
    padding: 20px 0;
}
.item-img-group-about{
    font-size: 14px;
}
.flex-item {
    padding-top: 10%;
    padding-right: 20px;
}
.item-img-card {
    display: flex;
    background-color: #6666ff;
    grid-row: 2/3;
    grid-column: 2/3;
    color: #fff;
}
.img-card img {
   width: 70%;
   padding-top: 30px;
   padding-left: 20px;
}
.flex-card {
    padding-top: 10%;
    padding-right: 10px;
}
.item-img-card-title {
    padding: 20px 0;
    font-size: 20px;
}
.box {
    padding-bottom: 10%;
    padding-top: 30%;
    padding-left: 5%;
    
}
.box-sab {
    font-family: 'Ephesis', cursive;
    color: #ff3366;
    font-size: 30px;
    padding-bottom: 10px;
}
.box-title {
    padding-bottom: 20px;
    font-size: 20px;
    color: #999999;
    font-weight: bold;
}
.box__flex {
    display: flex;
    justify-content: center;
    padding-right: 30px;
}
.practice__card {
    position: relative;
    width: 20%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 40px;
}
.box__img img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.box-content {
    padding: 15px 25px;
}
.box-cat {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff3366;
    border-top-left-radius: 5px;
    color: #fff;
    padding: 10px;
}
.box-ttl {
    color: #999999;
    padding: 20px;
}
.tag {
    display: flex;
    justify-content: space-between;
    color: #999999;
    font-size: 10%;
}
.box-tag {
    padding-left: 10px;
    padding-bottom: 20px;
}
.box-center{
    text-align: center;
}
.box-botton{
    margin-top: 50px;
    border-radius: 50px;
    border: solid #ff3366;
    display: inline-block;
    padding: 25px 30px;
    margin-bottom: 50px;
}
.box-botton a{
    text-decoration: none;
    color: #ff3366;
}
.block {
    margin-bottom: 70px;
    width: 60%;

}
.block-sab {
    font-family: 'Ephesis', cursive;
    color: #ff3366;
    font-size: 30px;
    padding-bottom: 10px;
    margin-left: 20%;
}
.block-title {
    padding-bottom: 10px;
    font-size: 20px;
    color: #999999;
    font-weight: bold;
    margin-left: 20%;
}
.block-list {
    border: solid 1px #bbbbbb;
    width:900px;
    margin: 0 30%;
}

.block-list-item-detail {
    border: solid 1px #bbbbbb;
    background-color: #cccccc;
    padding: 30px 80px 40px 0;
    width: 100px;
    color:#555555

}
.block-list-item-description {
    border-top: solid 1px #bbbbbb;
    width: 800px;
    padding-left: 10px;
    color: #555555;
}
.card {
    display: flex;
    position: relative;
}
.card-img img {
    width:111%;
}
.card-text {
    position: absolute;
    top: 38%;
    left: 18%;
    color: #fff;
    font-size: 40px;
}

.text {
    position: relative;
}
.text-img img {
    width: 111%;
}
.card-service-category {
    position: absolute;
    top: 38%;
    left: 40%;
    font-size: 40px;
    color: #fff;
}
.comment-title {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #999999;
}
.comment-link {
    text-align: center;
}
.text-link {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: solid 3px #ff3366;
    margin-left: 120px;
    outline: none;
    caret-color: transparent;
}
.text-botton {
    text-align: center;
}
.comment-botton {
    text-align: center;
    margin: 30px;
    border-radius: 50px ;
    background: linear-gradient(90deg,#ff3366,#cc3366);
    border: solid 1px #ff3366;
    display: inline-block;
    padding: 20px 50px;
    box-shadow: 0px 5px 1px #000;
}
.comment-botton a {
    text-decoration: none;
}
.fooder {
    text-align: center;
    color: #999999;
    background: #bbbbbb;
    width: 100%;
}